@font-face {
  src: url('/fonts/Cinzel/Cinzel-Bold.ttf');
  font-family: 'Cinzel';
  font-weight: normal;
  font-display: swap;
}
@font-face {
  src: url('/fonts/Prompt/Prompt-Regular.ttf');
  font-family: 'Prompt';
  font-weight: normal;
  font-display: swap;
}
